
.first-block{
    width: 70%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid lightgrey;
    box-sizing: border-box;

}
.second-block{
    width: 25%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 2px solid lightgray;
    vertical-align: top;
    box-sizing: border-box;
}
h1{
    text-align: center;
    border: 1px solid lightgray;
    background-color: aqua;
    width: 100%;

}
body{
    background-color:lightgray;
    color: rgb(59, 59, 6);
    font-family: fantasy;
    border: 1px solid grey;
}
h4{
    text-align: center;
    border: 2px solid lightgray;
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;
}

.img {
    width: 370px;
    height: 250px;
    display: inline-block;
}

.inline-block {
    display: inline-block;
    width: 49%;
}

